$("#flash").html('<%= j render partial: "layouts/messages" %>');
if (!<%= @item_exists %>) {
    <% @new_ingredients.each do |id, value|%>
        $('#fridge_items_table_body').prepend('<tr id="fridge_item_<%=value[0].id%>">' +
        '<td><%= value[1].capitalize%></td>' +
        '</tr>');
        document.getElementById("fridge_item_<%= value[0].id%>").insertAdjacentHTML("beforeend", "<%= j render partial: 'fridge_items/add_quantity', locals: {fridge_item: value[0]} %>");
    <% end %>
}