<p id="notice"><%= notice %></p>

<%= form_with(model: @fridge_item, id: "new-fridge-item", local: false) do |form| %>
  <div id= "search-data" class="form-search search-data" data-ingredients="<%= @ingredient_names.to_json %>" data-measurements="<%= @measurements.to_json%>">
    <%= form.label :name %>
    <input type="search" placeholder="Add an ingredient..." data-behavior="autocomplete" id="fridge_item_textbox" name="fridge_item[ingredient_id]">
    <%= form.label :quantity%>
    <%= form.number_field :ingredient_quantity, min: 0.01, step: :any, placeholder: 0, required: true %>
    <%= form.submit "Add to fridge", class: "btn btn-success" %>
  </div>
<% end %>

<h1>Fridge Items</h1>

<table>
  <thead>
    <tr>
      <th>Item</th>
      <th></th>
      <th>Change quantity</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <%#TODO 500g de ingredient %>
  <tbody id="fridge_items_table_body">
    <% @fridge_items.each do |fridge_item| %>
      <tr id="fridge_item_<%=fridge_item.id %>">
        <td id="quantity_<%= fridge_item.id%>"><%= fridge_item.ingredient_quantity %></td>
        <%ingredient = @ingredients[fridge_item[:ingredient_id]][0] %>
        <td><%= fridge_item.measurement %> <%= ingredient[:preposition]%><%= ingredient[:name].capitalize %></td>
        <%= render 'add_quantity', fridge_item: fridge_item %>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Available Recipes</h2>

<table>
  <thead>
  <tr>
    <th>Recipe Name</th>
    <th>For</th>
  </tr>
  </thead>
<% @available_recipes.each do |recipe| %>

    <tr>
      <td><%=recipe[:name] %></td>
      <td><%=recipe.people_quantity %></td>
    </tr>
<% end %>
</table>