<p id="notice"><%= notice %></p>

<h1>Recipes</h1>

<h2>Available Recipes</h2>
<table>
  <thead>
  <tr>
    <th>Recipe Name</th>
    <th><i class="fas fa-user-friends"></i></th>
  </tr>
  </thead>
  <% @available_recipes.each do |recipe| %>

    <tr>
      <td><div class="check"></div> <%=recipe[:name] %></td>
      <td><%=recipe.people_quantity %></td>
    </tr>
  <% end %>
</table>

<h2>All Recipes</h2>


<table>
  <thead>
    <tr>
      <th>Name</th>
      <th><i class="fas fa-user-friends"></i></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= recipe.name %></td>
        <td><%= recipe.people_quantity %></td>
        <td><%= link_to 'Show', recipe %></td>
        <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
        <td><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate %>

<br>

<%= link_to 'New Recipe', new_recipe_path %>
